@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 10, 132, 255;

  --black: 0, 0, 0;
  --emerald: 0, 186, 124;
  --pink: 249, 24, 128;
  --error-1: 211, 47, 47;
  --error-2: 255, 0, 0;

  --button-text: 255, 255, 255;

  --tooltip: rgba(101, 119, 134, 0.9);

  --backdrop: rgba(91, 112, 131, 0.3);

  --theme-dark-primary: 10, 132, 255;
  --theme-dark-background: 0, 0, 0;
  --theme-dark-foreground: 28, 28, 30;
  --theme-dark-text: 141, 141, 147;

  --theme-light-primary: 10, 132, 255;
  --theme-light-background: 242, 242, 247;
  --theme-light-foreground: 255, 255, 255;
  --theme-light-text: 133, 133, 139;

  --theme-midnightBlue-primary: 10, 132, 255;
  --theme-midnightBlue-background: 11, 22, 34;
  --theme-midnightBlue-foreground: 21, 31, 46;
  --theme-midnightBlue-text: 133, 150, 165;

  --theme-tokyoNight-primary: 247, 118, 142;
  --theme-tokyoNight-background: 26, 27, 38;
  --theme-tokyoNight-foreground: 36, 40, 59;
  --theme-tokyoNight-text: 120, 124, 153;
}

.dark {
  --background: var(--theme-dark-background);
  --foreground: var(--theme-dark-foreground);
  --text-1: 255, 255, 255;
  --text-2: var(--theme-dark-text);
  --border-1: 58, 58, 61;
}

.light {
  --background: var(--theme-light-background);
  --foreground: var(--theme-light-foreground);
  --text-1: 0, 0, 0;
  --text-2: var(--theme-light-text);
  --border-1: 214, 214, 215;
}

.midnightBlue {
  --background: var(--theme-midnightBlue-background);
  --foreground: var(--theme-midnightBlue-foreground);
  --text-1: 255, 255, 255;
  --text-2: var(--theme-midnightBlue-text);
  --border-1: 44, 55, 70;
}

.tokyoNight {
  --primary: var(--theme-tokyoNight-primary);
  --background: var(--theme-tokyoNight-background);
  --foreground: var(--theme-tokyoNight-foreground);
  --text-1: 255, 255, 255;
  --text-2: var(--theme-tokyoNight-text);
  --border-1: 51, 55, 79;
}

html {
  @apply overflow-y-scroll font-primary;
}

body {
  @apply bg-background text-m text-text-1 caret-primary;
}

a {
  @apply outline-none;
}

button {
  @apply outline-0 select-none;
}

input {
  @apply placeholder:text-text-2 placeholder:font-medium;
}

/* ------------------------------- CUSTOM CLASSES ------------------------------- */

.scrollbar-tract-margins::-webkit-scrollbar-track {
  @apply my-2.5;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.link {
  @apply text-primary hover:underline focus-within:underline;
}
